@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    color: #fff;
}

body {
    min-height: 100vh;
    background-color: #fff;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  padding: 1rem 0.5rem;
}

section {
    width: 100%;
    max-width: 420px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    background-color: #7ab5bb;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}

a, a:visited {
    color: rgb(0, 0, 0);
}

input[type="text"],
input[type="password"],
input[type="email"],
button,
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border: none;
  border-radius: 15px 15px 15px 15px;
}

label,
button {
  margin-top: 1rem;
}

button {
  padding: 0.5rem;
  background-color: #0a3e46a8;
  border-color: #00191c;
  font-weight: bold;
  color: #000e11;
}

button:hover {
    padding: 0.5rem;
    transform: scale(1.05);
  }

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #4c7d84a8;;
    color: rgb(0, 0, 0);
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: rgb(60, 191, 108);
    margin-left: 0.25rem;
}

.invalid {
    color: rgb(217, 43, 43);
    margin-left: 0.25rem;
}

.errmsg {
    background-color: rgba(255, 182, 193, 0.901);
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}

nav {
    height: 50px;
    width: 100%;
    background-color: #7ab5bb;
    position: fixed;
    z-index: 50;
    display: flex;
    align-items: center;
    top: 0;
}

.burger-btn {
    width: 30px;
    height: 20px;
    margin-right: 20px; 
    position: absolute;
    cursor: pointer;
    top: 15px; 
    right: 20px; 
}

.burger-btn::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    background-color: rgb(0, 0, 0);
    height: 2px;
}

.burger-btn::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30px;
    background-color: rgb(0, 0, 0);
    height: 2px;
}

.burger-btn span {
    position: absolute;
    top: 9px;
    right: 0;
    width: 30px;
    background-color: rgb(0, 0, 0);
    height: 2px;
}

.burger-menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 50px;
    left: 70%; 
    transform: translateX(100%);
    transition: all 0.2s;
}

.burger-menu.active {
    transform: translateX(0);
}

.menu_content {
    width: 30%;
    height: 100%;
    background-color: #7ab5bb;
    display: flex;
    padding: 5px;
    flex-direction: column;
    align-items: center;
    transition: all 0.4s;
}

ul.burger_links li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.2rem;
}

ul.burger_links {
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul.burger_links li {
    align-items: center;
    display: flex;
    margin: 5px;
    list-style: none;
}